* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    width: 100%;
}

html {
    font-family: var(--font-primary);
    background-color: var(--bg-primary-color);
}

main {
    width: 100%;
}

main section {
    width: 100%;
    padding: var(--padding-2xl);
    display: flex;
    gap: var(--gutter-2xl);
}

main section .btn {
    padding: var(--padding-small) var(--padding-large);
    border: none;
    outline: none;
    border-radius: var(--border-radius-medium);
    background-color: var(--bg-active-color);
    cursor: pointer;
    color: var(--text-primary-color);
    font-size: var(--font-size-medium);

}

#reset-btn {
    background-color: var(--bg-extra-active-color);
    color: var(--text-primary-color);


}

#download-btn {
    background-color: var(--bg-extra-accent-color);
    color: var(--text-primary-color);
}


main section .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gutter-large);
    width: 70%;
}

main section .right {
    width: 30%;
    background-color: var(--bg-primary-color);
    padding: var(--padding-large);
    border-radius: var(--border-radius-large);
    display: flex;
    flex-direction: column;
    gap: var(--gutter-large);


}

main section .top {
    display: flex;
    align-items: center;
    gap: var(--gutter-mid);
}

main section .bottom {
    background-color: var(--bg-primary-color);
    width: 100%;
    padding: var(--padding-2xl);
    aspect-ratio: 5/3;
    border-radius: var(--border-radius-large);
    display: flex;
    justify-content: center;
    align-items: center
}

main section .bottom .placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.7;
    gap: var(--gutter-medium);


}

main section .bottom .placeholder i {
    font-size: 12rem;
    color: var(--text-secondary-color);

}

main section .bottom .placeholder p {
    font-size: var(--font-size-large);
    color: var(--text-secondary-color);
}


main section .right .filter {
    width: 100%;
}

main section .right .filter input {
    width: 100%;
    outline: none;
    margin-top: var(--margin-small);
    appearance: none;


}

main section .right .filter input[type="range"]::-webkit-slider-runnable-track {
    height: 0.3em;
    background-color: var(-bg-primary-color);
    border-radius: var(--border-radius-medium);

}

main section .right .filter input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: red;
    border: none;
    box-shadow: none;
    cursor: pointer;

    
    /* Track: 0.3rem
    Thumb: 1rem
    Vertical offset = (track - thumb) / 2 = (0.3rem - 1rem) / 2 = -0.35rem */
    margin-top: calc((0.3rem - 1rem) / 2);

}